[buildout]
extends =
    src/buildout-base/etc/base.cfg
    src/buildout-base/etc/plone.cfg
    http://dist.plone.org/release/4.2-latest/versions.cfg
    versions.cfg
    src/plone.app.event/sources.cfg
    src/buildout-base/etc/mr.developer.cfg
    src/buildout-base/etc/plone-chameleon.cfg
#    src/buildout-base/etc/plone-dexterity.cfg
    src/buildout-base/etc/dev.cfg
    src/buildout-base/etc/test.cfg
    plone-xmpp.cfg
    plone-lesscss.cfg
    config.cfg

find-links +=
    http://dist.plone.org/release/4.2-latest/

#plone-xmpp.cfg
#plone-cmsui.cfg
#plone-theming.cfg
#plone-deco.cfg

[instance]
eggs +=
    g24.importer
    plone.app.dexterity [grok]
zcml += g24.importer

[sources]
buildout-base = git ${remotes:thet}/buildout-base.git pushurl=${remotes:thet_push}/buildout-base.git egg=false
g24.base = git ${remotes:g24at}/g24.base.git pushurl=${remotes:g24at_push}/g24.base.git
g24.elements = git ${remotes:g24at}/g24.elements.git pushurl=${remotes:g24at_push}/g24.elements.git
g24.importer = git ${remotes:g24at}/g24.importer.git pushurl=${remotes:g24at_push}/g24.importer.git
g24.theme = git ${remotes:g24at}/g24.theme.git pushurl=${remotes:g24at_push}/g24.theme.git
g24.sharingbox = git ${remotes:g24at}/g24.sharingbox.git pushurl=${remotes:g24at_push}/g24.sharingbox.git egg=false
plone.app.event = git ${remotes:collective}/plone.app.event.git pushurl=${remotes:collective_push}/plone.app.event.git
Solgema.fullcalendar = git ${remotes:collective}/Solgema.fullcalendar.git pushurl=${remotes:collective_push}/Solgema.fullcalendar.git
collective.embedly = git ${remotes:collective}/collective.embedly.git pushurl=${remotes:collective_push}/collective.embedly.git
collective.setuphandlertools = git ${remotes:collective}/collective.setuphandlertools.git pushurl=${remotes:collective_push}/collective.setuphandlertools.git

plone.app.jquery            = git ${remotes:thet}/plone.app.jquery.git             pushurl=${remotes:thet_push}/plone.app.jquery.git
plone.app.jquerytools       = git ${remotes:thet}/plone.app.jquerytools.git        pushurl=${remotes:thet_push}/plone.app.jquerytools.git
Products.ResourceRegistries = git ${remotes:plone}/Products.ResourceRegistries.git pushurl=${remotes:plone_push}/Products.ResourceRegistries.git

#jquerytools = git git://github.com/jquerytools/jquerytools.git egg=false
#jquery      = git git://github.com/jquery/jquery.git egg=false


# dexterity related
plone.app.dexterity          = git ${remotes:plone}/plone.app.dexterity.git        pushurl=${remotes:plone_push}/plone.app.dexterity.git
plone.app.textfield          = git ${remotes:plone}/plone.app.textfield.git        pushurl=${remotes:plone_push}/plone.app.textfield.git
plone.app.z3cform            = git ${remotes:plone}/plone.app.z3cform.git          pushurl=${remotes:plone_push}/plone.app.z3cform.git
plone.autoform               = git ${remotes:plone}/plone.autoform.git             pushurl=${remotes:plone_push}/plone.autoform.git
plone.behavior               = git ${remotes:plone}/plone.behavior.git             pushurl=${remotes:plone_push}/plone.behavior.git
plone.dexterity              = git ${remotes:plone}/plone.dexterity.git            pushurl=${remotes:plone_push}/plone.dexterity.git
plone.directives.dexterity   = git ${remotes:plone}/plone.directives.dexterity.git pushurl=${remotes:plone_push}/plone.directives.dexterity.git
plone.directives.form        = git ${remotes:plone}/plone.directives.form.git      pushurl=${remotes:plone_push}/plone.directives.form.git
z3c.form                     = svn ${remotes:zope}/z3c.form/trunk
zope.schema                  = svn ${remotes:zope}/zope.schema/trunk

# yafowil related
yafowil.documentation       = git ${remotes:bda}/yafowil.documentation.git       pushurl=${remotes:bda_push}/yafowil.documentation.git
yafowil                     = git ${remotes:thet}/yafowil.git                    pushurl=${remotes:thet_push}/yafowil.git
yafowil.plone               = git ${remotes:bda}/yafowil.plone.git               pushurl=${remotes:bda_push}/yafowil.plone.git
yafowil.widget.array        = git ${remotes:bda}/yafowil.widget.array.git        pushurl=${remotes:bda_push}/yafowil.widget.array.git
yafowil.widget.autocomplete = git ${remotes:bda}/yafowil.widget.autocomplete.git pushurl=${remotes:bda_push}/yafowil.widget.autocomplete.git
yafowil.widget.datetime     = git ${remotes:bda}/yafowil.widget.datetime.git     pushurl=${remotes:bda_push}/yafowil.widget.datetime.git
yafowil.widget.dict         = git ${remotes:bda}/yafowil.widget.dict.git         pushurl=${remotes:bda_push}/yafowil.widget.dict.git
yafowil.widget.dynatree     = git ${remotes:bda}/yafowil.widget.dynatree.git     pushurl=${remotes:bda_push}/yafowil.widget.dynatree.git
yafowil.widget.image        = git ${remotes:bda}/yafowil.widget.image.git        pushurl=${remotes:bda_push}/yafowil.widget.image.git
yafowil.widget.richtext     = git ${remotes:bda}/yafowil.widget.richtext.git     pushurl=${remotes:bda_push}/yafowil.widget.richtext.git
yafowil.yaml                = git ${remotes:bda}/yafowil.yaml.git                pushurl=${remotes:bda_push}/yafowil.yaml.git
bda.intellidatetime         = git ${remotes:bda}/bda.intellidatetime.git         pushurl=${remotes:bda_push}/bda.intellidatetime.git


#chameleon = git git://github.com/malthe/chameleon.git

[test]
eggs +=
    Products.DateRecurringIndex [test]
    icalendar [test]
    plone.app.event [archetypes,dexterity,test]
    plone.event [test]
    plone.formwidget.datetime [archetypes,z3cform,test]
    plone.formwidget.recurrence [archetypes,z3cform,test]
    yafowil [test]


[versions]
plone.supermodel = 1.1.1
