[buildout]
auto-checkout +=
    plone.app.cmsui
    repoze.xmliter
    plone.resource
    plone.subrequest
    plone.app.tinymce
    plone.formwidget.multifile
    plone.formwidget.querystring
    plone.app.deco
    plone.app.drafts
    plone.tiles
    plone.directives.tiles
    plone.app.tiles
    plone.app.standardtiles
    plone.app.page
    plone.app.blocks
    plone.app.querystring
    Products.ResourceRegistries


[instance]
eggs +=
    plone.app.cmsui

[sources]
plone.app.cmsui = git git://github.com/plone/plone.app.cmsui.git

# cmsui
#lxml                                = git https://github.com/lxml/lxml.git
repoze.xmliter                      = git https://github.com/repoze/repoze.xmliter.git
plone.resource                      = svn https://svn.plone.org/svn/plone/plone.resource/trunk
plone.subrequest                    = svn https://svn.plone.org/svn/plone/plone.subrequest/trunk

# Deco/tiles
plone.app.tinymce                   = svn https://svn.plone.org/svn/plone/plone.app.tinymce/trunk
plone.formwidget.multifile          = svn https://svn.plone.org/svn/plone/plone.formwidget.multifile/trunk
plone.formwidget.querystring        = svn https://svn.plone.org/svn/plone/plone.formwidget.querystring/trunk
plone.app.deco                      = svn https://svn.plone.org/svn/plone/plone.app.deco/trunk
plone.app.drafts                    = svn https://svn.plone.org/svn/plone/plone.app.drafts/trunk
plone.tiles                         = svn https://svn.plone.org/svn/plone/plone.tiles/trunk
plone.directives.tiles              = svn https://svn.plone.org/svn/plone/plone.directives.tiles/trunk
plone.app.tiles                     = svn https://svn.plone.org/svn/plone/plone.app.tiles/trunk
plone.app.standardtiles             = svn https://svn.plone.org/svn/plone/plone.app.standardtiles/trunk
plone.app.page                      = svn https://svn.plone.org/svn/plone/plone.app.page/trunk
plone.app.blocks                    = svn https://svn.plone.org/svn/plone/plone.app.blocks/branches/tile-simplification
plone.app.querystring               = svn https://svn.plone.org/svn/plone/plone.app.querystring/trunk

Products.ResourceRegistries         = svn https://svn.plone.org/svn/plone/ResourceRegistries/trunk
